/* 
    Author: Carlos J. Garcia Carmona
*/
h1, h3 {
    text-align: center;
}

h1 {
    font-family: "Bungee Shade", cursive;
}

h3 {
    color: red;
}

form#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#login>div {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
}

input {
    width: 80%;
    padding: 1%;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: yellowgreen;
}

th, td {
    padding: 1rem;
}

th {
    text-align: center;
    background-color: greenyellow
}

td {
    text-align: left;
}

td.no-data {
    text-align: center;
}

td.delete-cell {
    text-align: center;
}

button {
    cursor: pointer;
}

button.action {
    border: 2px solid greenyellow;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
}

button.action:hover {
    background-color: greenyellow;
}

button[name=add],
button[name=login] {
    width: 50%;
    padding: 1%;
}

button[name=delete] {
    background-color: transparent;
    border: 1px solid red;
}

button[name=delete]:hover {
    background-color: red;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.actions a {
    text-decoration: none;
}

.actions button {
    padding: 20%;
    width: 100%;
}

.actions i {
    margin-right: 1rem;
}
